<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Game <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onCharacterView()">Character Overview</a></li>
        <li><a style="cursor: pointer;" (click)="onEditGame()">Edit Game</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteGame()">Delete Game</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="text-center">
      <h4 class="list-group-item-heading">{{ game.title }}</h4>
      <p>{{ game.description }}</p>
      <br>
      <h4>Genres</h4>
      <p *ngFor="let g of game.genres">{{g}}</p>
    </div>
  </div>
</div>
<div class="row" *ngIf="similarGames?.length !== 0">
  <div class="col-xs-12">
    <h4>If you like this game you might also enjoy some of these games:</h4>
    <div class="border-custom" *ngFor="let g of similarGames">
      <h4 class="text-center">{{g.title}}</h4>
      <p class="text-center">{{g.release_date}}</p>
    </div>
  </div>
</div>

