<div class="row">
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ developer.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Developer <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddGame()" style="cursor: pointer;">Add new game</a></li>
        <li><a style="cursor: pointer;" (click)="onEditDeveloper()">Edit Developer</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteDeveloper()">Delete Developer</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Company description</h4>
    {{ developer.companyDescription }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12" *ngIf="developer.games?.length > 0">
    <ul class="list-group">
      <li
        class="list-group-item">
        <app-games-item *ngFor="let game of developer.games" [game]="game"></app-games-item>
      </li>
    </ul>
  </div>
  <div class="col-xs-12" *ngIf="developer.games?.length === 0">
    <h4>No games registered for {{ developer.name }}</h4>
  </div>
</div>
