<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onGameSubmit(f)" #f="ngForm">
        <div id="game-data">
          <div class="form-group">
            <label for="title">Game title</label>
            <input type="text"
                   id="title"
                   class="form-control"
                   ngModel name="title"
                   required
                   #title="ngModel">
          </div>
          <span class="help-block" *ngIf="!title.valid && title.touched">Please enter a title!</span>
          <div class="form-group">
            <label for="releaseDate">Release date</label>
            <input type="date" id="releaseDate" class="form-control" ngModel name="releaseDate" required #release="ngModel">
          </div>
          <span class="help-block" *ngIf="!release.valid && release.touched">Please enter a release date!</span>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea type="text" id="description" class="form-control" rows="5" ngModel name="description" required #description></textarea>
        </div>
        <span class="help-block" *ngIf="!description.valid && description.touched">Please enter a description!</span>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
